
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
:root {
        --clr-primary-200: #F3EED9;
        --clr-primary-400: #824936;
    
        --clr-neutral-100: #fff;
        --clr-neutral-900: #222C2A;
    
        --ff-primary: 'Roboto, san-serif';
        --ff-accent: 'IBM Plex Sans', san-serif;
    

    --white: #ddd;
    --dark: #111;
    --darkGrey: #474b4f;
    --lightGrey: #6b6e70;
    --lightGreen: #86c232;
    --darkGreen: #61892f;
    --transition: all 0.5s ease;

    --darkbrown: #644117;
    --medbrown: #7f582d;
    --lightbrown: #9a7145;
    --cream: #ffdcaa;
    --darkcream:#d3a576;

    --orange:#e27d60;
    --lightOrange:#e8a87c;

    --lightPink:#eddcd9;
    --orange:#e99f4c;
    --green:#264143;
    --lightOrange:#e8a87c;
    --blue:#41b3a3;
    --purple:#c38d9e;
    --pink: #fe7f9c;
    --lightBlue: #85dcb;

    --pi:3.14159265359;
    --a1: 6;
    --a2: 23;
    --a3: 68;
    --a4: 3;

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    line-height: 1.6;
    background-color: var(--lightOrange);
}


.padding{
    padding-top: 40px;
}

.padding2{
    padding-top: 80px;
}

.padding3{
    padding-top: 115px;
}
.padding4{
    padding-top: 80px;
    padding-bottom: 40px;
}

.padding5{
    padding-left: 80px;

}

.padding6{
    padding-left: 50px;
    padding-top: 80px;

}

.padding7{

    padding-bottom: 40px;
}


.footerColour{
color: #264143;
}


.rect:hover { 
    opacity: 0.5; 
}

img{
    width: 100%;
    display: block;
}

ul li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #000;
}

@keyframes percent1{
    to {
        stroke-dasharray: calc(2 * var(--pi) * 300 * var(--a1) / 100) calc(2 * var(--pi) * 300 * calc(1 - var(--a1) / 100));
    }
}

@keyframes percent2{
    to {
        stroke-dasharray: calc(2 * var(--pi) * 300 * var(--a2) / 100) calc(2 * var(--pi) * 300 * calc(1 - var(--a2) / 100));
    }
}

@keyframes percent3{
    to {
        stroke-dasharray: calc(2 * var(--pi) * 300 * var(--a3) / 100) calc(2 * var(--pi) * 300 * calc(1 - var(--a3) / 100));
    }
}

@keyframes percent4{
    to {
        stroke-dasharray: calc(2 * var(--pi) * 300 * var(--a4) / 100) calc(2 * var(--pi) * 300 * calc(1 - var(--a4) / 100));
    }
}



/**Heading**/

h1, h2, h3, h4, h5, h6,  p{
    margin:15px 0;
}
h1,
h2,
h3,
p {
    margin: 0;
}


h1{
    color: var(--blue);
}
h2 {
    color: var(--darkbrown);
}
h3{
    color: var(--green);
}

h5{
    color: var(--purple);
}

h6{
    color: var(--pink);
}




/**Heading End**/

/**Java**/
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 90vw;
    margin: 0 auto;
}

.donutContainer{
    width: 800px;
    height: 800px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.donut{
    transform-origin: center center;
    transition: 0.5s ease-in-out;
    stroke-dashoffset: 0;
    cursor: pointer;
}

.donut:nth-child(1) {
    transform: rotateZ(-90deg);
    animation: percent1 1s ease-in-out forwards;
}

.donut:nth-child(2) {
    transform: rotateZ(calc(-90deg + calc(var(--a1) * 360deg / 100)));
    animation: percent2  1s ease-in-out forwards;
}

.donut:nth-child(3) {
    transform: rotateZ(calc(-90deg + calc(var(--a1) * 360deg / 100) + calc(var(--a2) * 360deg / 100)));
    animation: percent3  1s ease-in-out forwards;
} 

.donut:nth-child(4) {
    transform: rotateZ(calc(-90deg + calc(var(--a1) * 360deg / 100) + calc(var(--a2) * 360deg / 100) + calc(var(--a3) * 360deg / 100)));
    animation: percent4  1s ease-in-out forwards;
} 

.donut:hover{
    stroke-width: 80;
}

svg{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.btn{
    background: var(--blue);
    border: none;
    display: block;
    width: 150px;
    text-align: center;
    color: var(--blue);
    text-transform: uppercase;
    background: transparent;
    font-size: 15px;
    padding: 12px;
    border: 2px solid var(--blue);
    border-radius: 25px;
    margin: 15px 0;
    transition: var(--transition);
    cursor: pointer;
}

.btn:hover{
    background: var(--blue);
    color: #fff;
}

.active{
    color: var(--lightPink)!important;
}

/**Java End**/

/**Headers**/


.brand-and-navBtn{
    background: #000;
    position: relative;
    z-index: 999;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 24px;
    padding: 15px 25px;
    color: var(--white);
}

.navBtn{
    width: 40px;
    height: 40px;
    border: 1px solid;
    cursor: pointer;
}

navBtn:hover{
    background: #fff;
    color: #000;
    transition: var(--transition);
}

.about {
    margin-top: 80px;
}

.about-content img {

    border-radius: 50%;
}

.about-img{
    background: #fff;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    border-radius: 80%;
    
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

.about-content h2{
    font-size: 48px;
    text-align: center;
    margin-bottom: var(--lightbrown);
}

.about-content h3{
    color: var(--green);
    font-size: 30px;
    font-weight: 100;
    width: 400px;
    margin: 35px auto;
    text-align: center;

}


.transparent{
        background-color: rgba(255, 255, 255, 0.3);
        filter: alpha(opacity=60);
        opacity: 0.6;
        margin: 35px auto;
        width: 400px;
        text-align: center;
      
}

.transparent2{
    background-color: rgba(255, 255, 255, 0.6);
    filter: alpha(opacity=60);
    opacity: 0.6;
    margin: 10px;
    width: 500px;
    text-align: center;
  
}

.blockquote{
    font-size:20px;
    font-weight: 300;
    opacity: 0.9;
    width: 60vw;

    text-align: center;
}

.blockquote1{
    font-size:20px;
    font-weight: 100;
    opacity: 0.9;
    width: 60vw;
    margin-left: 50px ;

}

.blockquote2{
    font-size:20px;
    font-weight: 300;
    opacity: 0.9;

}


.blockquotespan {
    font-size: 14px;
    text-transform:uppercase;
    color:var(--darkbrown);
    font-weight: 300;
    letter-spacing: 5px;

}

/**End Header**/

/**Sec 1**/

.section-one{
    margin: 40px 0;
    min-height: 100 vh;
}

.sec-one-left{
    height: 100vh;
    background: url("images/cover2.jpg") center/cover no-repeat;
    box-shadow: 0px 0px 14px -1px rgba(0, 0, 6, 0.75);
    -webkit-box-shadow: 0px, 0px, 14px, -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 14px -1px rgba(0, 0, 0, 0.75);
}

.sec-one-left1{
    height: 100vh;
    background: url("images/loading.jpg") center/cover no-repeat;
    box-shadow: 0px 0px 14px -1px rgba(0, 0, 6, 0.75);
    -webkit-box-shadow: 0px, 0px, 14px, -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 14px -1px rgba(0, 0, 0, 0.75);

        padding-top: 80px;
}

.sec-one-left3{
    height: 100vh;
    background: url("images/lips.jpg") center/cover no-repeat;
    box-shadow: 0px 0px 14px -1px rgba(0, 0, 6, 0.75);
    -webkit-box-shadow: 0px, 0px, 14px, -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 14px -1px rgba(0, 0, 0, 0.75);

        padding-top: 80px;
}

.sec-one-left4{
    height: 100vh;
    background: url("images/eyes3.jpg") center/cover no-repeat;
    box-shadow: 0px 0px 14px -1px rgba(0, 0, 6, 0.75);
    -webkit-box-shadow: 0px, 0px, 14px, -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 14px -1px rgba(0, 0, 0, 0.75);

        padding-top: 80px;
}

.secColour{
    color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 30px;
}

.secHeading{
    font-size: 28px;
    opacity: 0.8;
}

.SecLeftP{
    font-weight: 300;
    opacity: 0.8;
}

.SecRightHeading{
    color: var(--medbrown);
    text-align: center;
}

.SecRightHeading1{
    color: var(--darkbrown);
}

.SecRightP{
    opacity: 0.9;
    font-weight: 300;
}

.work-content{
    margin: 50px;
    margin-left: 290px;
    margin-right: 290px;
}


.work-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
}

.work-img-1{
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
    background: url("images/work1.jpg") center/cover no-repeat;
    height: 400px;
  
    transition: var(--transition);
}

.work-img-2{
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
    background: url("images/work2.jpg") center/cover no-repeat;
    height: 400px;

    transition: var(--transition);
}

.work-img-3{
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
    background: url("images/makeup2.jpg") center/cover no-repeat;
    height: 400px;
  
    transition: var(--transition);
}

.work-img-4{
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
    background: url("images/makeup.jpg") center/cover no-repeat;
    height: 400px;

    transition: var(--transition);
}



.work-img-div:hover{
    box-shadow: 0 0 8px #000;
    -webkit-box-shadow: 0 0 8px #000;
    -moz-box-shadow: 0 0 8px #000;
}


/**end sec 1**/

/**sec 2**/

.section-two{
    margin: 40px 0;
}

.section-two-span{
    color: var(--darkbrown);
    text-align: center;
    display: block;
    font-size: 20px;
    margin-bottom: 30px;
}

.insta-imgs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.insta-imgs > div{
    position: relative;
}

.icon-overlay{
    position:absolute;
    color:#fff;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 50px;
    background: rgba(255, 221, 238, 0.4);
    opacity: 0;
    transition: var(--transition);
}

.insta-imgs > div:hover .icon-overlay{
opacity: 1;
}

/**end sec 2**/