
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
:root {


        --clr-primary-200: #F3EED9;
        --clr-primary-400: #824936;
    
        --clr-neutral-100: #fff;
        --clr-neutral-900: #222C2A;
    
        --ff-primary: 'Roboto, san-serif';
        --ff-accent: 'IBM Plex Sans', san-serif;
    

    --white: #ddd;
    --dark: #111;
    --darkGrey: #474b4f;
    --lightGrey: #6b6e70;
    --lightGreen: #86c232;
    --darkGreen: #61892f;
    --transition: all 0.5s ease;

    --darkbrown: #644117;
    --medbrown: #7f582d;
    --lightbrown: #9a7145;
    --cream: #ffdcaa;
    --darkcream:#d3a576;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    line-height: 1.6;
    background-color: var(--darkcream);
}

.padding{
    padding-top: 40px;
}

.padding2{
    padding-top: 80px;
}
.rect:hover { 
    opacity: 0.5; 
}

img{
    width: 100%;
    display: block;
}

ul li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #000;
}

/**Heading**/

h1, h2, h3, h4, h5, h6, p{
    margin:15px 0;
}
h1,
h2,
h3,
p {
    margin: 0;
}

h1{
    color: var(--darkbrown);
}
h2 {
    color: var(--medbrown);
}

/**Heading End**/

/**Java**/
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.conatiner{
    width: 90vw;
    margin: 0 auto;
}

.btn{
    background: var(--darkbrown);
    border: none;
    display: block;
    width: 150px;
    text-align: center;
    color: var(--darkbrown);
    text-transform: uppercase;
    background: transparent;
    font-size: 15px;
    padding: 12px;
    border: 2px solid var(--darkbrown);
    border-radius: 25px;
    margin: 15px 0;
    transition: var(--transition);
}

.btn:hover{
    background: var(--darkbrown);
    color: #fff;
}

.active{
    color: var(--lightbrown)!important;
}

/**Java End**/

/**Headers**/


.brand-and-navBtn{
    background: #000;
    position: relative;
    z-index: 999;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 24px;
    padding: 15px 25px;
    color: var(--white);
}

.navBtn{
    width: 40px;
    height: 40px;
    border: 1px solid;
    cursor: pointer;
}

navBtn:hover{
    background: #fff;
    color: #000;
    transition: var(--transition);
}

.about {
    margin-top: 80px;
}

.about-content img {

    border-radius: 50%;
}

.about-img{
    background: #fff;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    border-radius: 80%;
    
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

.about-content h2{
    font-size: 48px;
    text-align: center;
    margin-bottom: var(--lightbrown);
}

.about-content h3{
    color: #fff;
    font-size: 30px;
    font-weight: 100;
    width: 400px;
    margin: 35px auto;
    text-align: center;

}


.transparent{
        background-color: rgba(255, 255, 255, 0.1);
        filter: alpha(opacity=60);
        opacity: 0.6;
        margin: 35px auto;
        width: 400px;
        text-align: center;
      
}

.blockquote{
    font-size:20px;
    font-weight: 300;
    opacity: 0.9;
    width: 60vw;

    text-align: center;
}

.blockquotespan {
    font-size: 14px;
    text-transform:uppercase;
    color:var(--darkbrown);
    font-weight: 300;
    letter-spacing: 5px;

}

/**End Header**/

/**Sec 1**/

.section-one{
    margin: 40px 0;
    min-height: 100 vh;
}

.sec-one-left{
    height: 100vh;
    background: url("images/cover2.jpg") center/cover no-repeat;
    box-shadow: 0px 0px 14px -1px rgba(0, 0, 6, 0.75);
    -webkit-box-shadow: 0px, 0px, 14px, -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 14px -1px rgba(0, 0, 0, 0.75);
}

.sec-one-left1{
    height: 100vh;
    background: url("images/loading.jpg") center/cover no-repeat;
    box-shadow: 0px 0px 14px -1px rgba(0, 0, 6, 0.75);
    -webkit-box-shadow: 0px, 0px, 14px, -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 14px -1px rgba(0, 0, 0, 0.75);

        padding-top: 80px;
}

.secColour{
    color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 30px;
}

.secHeading{
    font-size: 28px;
    opacity: 0.8;
}

.SecLeftP{
    font-weight: 300;
    opacity: 0.8;
}

.SecRightHeading{
    color: var(--medbrown);
    text-align: center;
}

.SecRightP{
    opacity: 0.9;
    font-weight: 300;
}

.work-content{
    margin: 50px;
}

.work-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
}

.work-img-1{
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
    background: url("images/work1.jpg") center/cover no-repeat;
    height: 400px;
  
    transition: var(--transition);
}

.work-img-2{
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
    background: url("images/work2.jpg") center/cover no-repeat;
    height: 400px;

    transition: var(--transition);
}

.work-img-3{
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
    background: url("images/illustration2.jpg") center/cover no-repeat;
    height: 400px;
  
    transition: var(--transition);
}

.work-img-4{
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
    background: url("images/makeup.jpg") center/cover no-repeat;
    height: 400px;

    transition: var(--transition);
}

.work-img-div:hover{
    box-shadow: 0 0 8px #000;
    -webkit-box-shadow: 0 0 8px #000;
    -moz-box-shadow: 0 0 8px #000;
}


/**end sec 1**/

/**sec 2**/

.section-two{
    margin: 40px 0;
}

.section-two-span{
    color: var(--darkbrown);
    text-align: center;
    display: block;
    font-size: 20px;
    margin-bottom: 30px;
}

.insta-imgs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.insta-imgs > div{
    position: relative;
}

.icon-overlay{
    position:absolute;
    color:#fff;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 50px;
    background: rgba(134, 194, 50, 0.4);
    opacity: 0;
    transition: var(--transition);
}

.insta-imgs > div:hover .icon-overlay{
opacity: 1;
}

/**end sec 2**/