

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
}

.containerBG{
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px 100px;
}

.containerBG:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("images/MeContact.jpg") no-repeat center;
    background-size: cover;
    z-index: -1;
    filter: blur(50px)
}

.contact-box{
    max-width: 850px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.1);
}

.leftBG{
    height: 100%;
    background: url("images/MeContact.jpg") no-repeat center;
    background-size: cover;
}

.right{
    padding: 25px 40px;
}

.headingTwo{
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.headingTwo:after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0%;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #c38d9e;

}

.field{
    width: 100%;
    padding: 0.5rem 1rem;
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0);
    background-color: rgba(230, 230, 230, 0.6);
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: 3s;
}

.field:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

.field:focus{
    background-color: #fff;
    border: 2px solid #41b3a3;
}

.area{
    min-height:150px;
}


nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color:#e27d60;
    font-family: 'IBM Plex Sans', sans-serif;
}



.logo {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.footerlogo {
    color: #e27d60;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 10px;
}




.nav-links {
    display: flex;
    justify-content: space-around;
    width: 40%;
}


/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
  }
.nav-links li {
    list-style: none;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}


.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: #e27d60;
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width:880px) {
    .contact-box{
        grid-template-columns: 1fr;
    }

    .leftBG{
        height: 200px;
    }
}

@media screen and (max-width: 1024px) {
    .nav-links {
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    
    .nav-links {
        position: fixed;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #e27d60;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    
    .nav-links li {
        opacity: 0;
    }
    
    .burger {
        display: block;
        cursor: pointer;
    }
}

.nav-active {
        transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}


  .img-parallax {
    width: 100vmax;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,0);
    pointer-events: none
  }

  