

* {
    margin: 100;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color:#f2ebe9;
    font-family: 'IBM Plex Sans', sans-serif;
}



.logo {
    color: #de5499;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.footerlogo {
    color: #de5499;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 10px;
}




.nav-links {
    display: flex;
    justify-content: space-around;
    width: 40%;
}


/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
  }
.nav-links li {
    list-style: none;
}

.nav-links a {
    color: #de5499;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}


.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: #de5499;
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
    .nav-links {
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    
    .nav-links {
        position: fixed;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #f2ebe9;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    
    .nav-links li {
        opacity: 0;
    }
    
    .burger {
        display: block;
        cursor: pointer;
    }
}

.nav-active {
        transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}


  .img-parallax {
    width: 100vmax;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,0);
    pointer-events: none
  }